In [1]:
# antes de empezar la lección tendremos que instalarunas librerías. Para ello tendreis que descomentar (una a una) la linea de abajo y ejecutar la celda
#!pip install scikit-learn
#!pip install seaborn
#!pip install matplotlib

In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# traemos los datos que guardamos en el tema anterior.

df = pd.read_csv("./files/bank-additional_full.csv")
df.head()

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year
0,161770.0,1.0,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0
1,85477.0,1.0,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,0.0,telephone,149,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0
2,147233.0,1.0,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,0.0,telephone,226,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0
3,121393.0,1.0,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,0.0,telephone,151,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0
4,63164.0,1.0,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,1.0,telephone,307,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0

# Metodos para identificar los nulos: 
- Identificacion Visual   
- Pandas: isnull(), isNa()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   income             43000 non-null  float64
 1   kidhome            43000 non-null  float64
 2   teenhome           43000 non-null  float64
 3   dt_customer        43000 non-null  object
 4   numwebvisitsmonth  43000 non-null  float64
 5   id                 43000 non-null  object
 6   age                37880 non-null  float64
 7   job                42655 non-null  object
 8   marital            42915 non-null  object
 9   education          41193 non-null  object
 10  default            34019 non-null  float64
 11  housing            41974 non-null  float64
 12  loan               41974 non-null  float64
 13  contact            43000 non-null  object
 14  duration           43000 non-null  int64
 15  campaign           43000 non-null  int64
 16  pdays              43000 non-null  int64
 17  previous           43000 non-null  int64
 18  poutcome           43000 non-null  object
 19  empvarrate         43000 non-null  float64
 20  conspriceidx       42529 non-null  object
 21  consconfidx        43000 non-null  object
 22  euribor3m          33744 non-null  object
 23  nremployed         43000 non-null  object
 24  y                  43000 non-null  object
 25  date               42752 non-null  object
 26  latitude           43000 non-null  float64
 27  longitude          43000 non-null  float64
 28  contact_month      42752 non-null  object
 29  contact_year       42752 non-null  float64
dtypes: float64(12), int64(4), object(14)
memory usage: 9.8+ MB

In [5]:
df.isnull().sum()[df.isnull().sum() > 0]

age              5120
job               345
marital            85
education        1807
default          8981
housing          1026
loan             1026
conspriceidx      471
euribor3m        9256
date              248
contact_month     248
contact_year      248
dtype: int64

In [ ]:
## ¿Cómo yo trato estos datos nulos?

# ** Elimino la columna con muchos nulos?
#** Depende de donde sale los datos
#** No tomarlo en cuenta 
#** Ponerle el promedio, un valor fijo, mediana, moda, etc --> IMPUTAR
#** Entender el contexto de los datos

#1. Eliminar los datos nulos
#2. Imputar los datos nulos
#3. Dejar los nulos

### Eliminar nulos ¿los elimino o no?
##- Si la informacion es relevante o no
##- Depende de cuantos nulos tenga, alto porcentaje de nulos , y la informacion no es relevante lo elimino
##- Si tengo un bajo porcentaje de nulos, y la informacion es relevante, no lo elimino

In [8]:
df.shape

(43000, 30)

In [7]:
# -----------------------------------------------------------------------
df.isnull().sum()[df.isnull().sum() > 0]/df.shape[0]*100
# Análisis de la edad : decidir que no la eliminamos porque es relevante para el análisis
# Análisis de la variable default no es relevante, tiene un 20% de nulos y la eliminamos

age              11.906977
job               0.802326
marital           0.197674
education         4.202326
default          20.886047
housing           2.386047
loan              2.386047
conspriceidx      1.095349
euribor3m        21.525581
date              0.576744
contact_month     0.576744
contact_year      0.576744
dtype: float64

In [ ]:
# Eliminar todo los nulos del conjunto de datos
df_clean = df.dropna()

# Eliminar una columna con nulos
df_clean = df.drop(columns='default')

In [9]:
# SINO ELIMINO LOS NULOS, TENGO QUE IMPUTARLOS (rellenar los nulos)

## Imputacion simple: reemplazar los valores nulos con un valor especifico: media, mediana, moda, o un valor fijo (segun contexto)
# media: distribución simetrica y sin outliers, variables numericas
# mediana: distribución asimetrica y con outliers, variables numericas
# moda: variable categorica

var_categorical = df.select_dtypes(include='object').columns
var_categorical

Index(['dt_customer', 'id', 'job', 'marital', 'education', 'contact',
       'poutcome', 'conspriceidx', 'consconfidx', 'euribor3m', 'nremployed',
       'y', 'date', 'contact_month'],
      dtype='object')

In [10]:
var_numerical = df.select_dtypes(include= np.number).columns
var_numerical

Index(['income', 'kidhome', 'teenhome', 'numwebvisitsmonth', 'age', 'default',
       'housing', 'loan', 'duration', 'campaign', 'pdays', 'previous',
       'empvarrate', 'latitude', 'longitude', 'contact_year'],
      dtype='object')

In [ ]:
## imputar la edad
# media
media_age = df['age'].mean(); 
df['age'] = df ['age'].fillna(25) # reemplazar los nulos con la media
df.head()

In [ ]:
# imputar el euribor , vamos usar un valor especifico, a crear un nuevo valor
df['euribor3m'] = df['euribor3m'].fillna("unknown")

In [13]:
# Algoritimo SimpleImputer
imputer = SimpleImputer(strategy='mean')
imputar_age = imputer.fit_transform(df[['age']])
df['age'] = imputar_age

In [ ]:
## Imputacion avanzada
# KNNImputer
# IterativeImputer 

# IterativeImputer()
imputer = IterativeImputer(max_iter=10, random_state=42)
imputar_age = imputer.fit_transform(df[['age']])
df['age'] = imputar_age

In [ ]:
## KNNImputer
imputer = KNNImputer(n_neighbors=5)
imputar_age = imputer.fit_transform(df[['age']])
df['age'] = imputar_age