In [2]:
# nuestras librerias a utilizar
import pandas as pd
import numpy as np


# Configuraci√≥n
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
df = pd.read_csv("./files/bank-additional_full.csv")

In [4]:
# Group by se utiliza para agrupar datos en funci√≥n de una columna
df.head()

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year
0,161770.0,1.0,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0
1,85477.0,1.0,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,0.0,telephone,149,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0
2,147233.0,1.0,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,0.0,telephone,226,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0
3,121393.0,1.0,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,0.0,telephone,151,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0
4,63164.0,1.0,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,1.0,telephone,307,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0

In [5]:
# ¬øCuantas personas hay por nivel de educaci√≥n?
df.columns

Index(['income', 'kidhome', 'teenhome', 'dt_customer', 'numwebvisitsmonth',
       'id', 'age', 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'empvarrate', 'conspriceidx', 'consconfidx', 'euribor3m',
       'nremployed', 'y', 'date', 'latitude', 'longitude', 'contact_month',
       'contact_year'],
      dtype='object')

In [6]:
df['education'].unique()

array(['basic 4y', 'high school', 'basic 6y', 'basic 9y',
       'professional course', nan, 'university degree', 'illiterate'],
      dtype=object)

In [7]:
df.groupby('education').mean(numeric_only=True) # min, max, mean, median, sum, count

,income,kidhome,teenhome,numwebvisitsmonth,age,default,housing,loan,duration,campaign,pdays,previous,empvarrate,latitude,longitude,contact_year
education,,,,,,,,,,,,,,,,
basic 4y,92337.678375,0.990817,1.000230,16.729109,47.604900,0.000000,0.520425,0.152538,264.402204,2.602388,965.710973,0.145317,0.211088,36.847573,-95.818800,2017.018933
basic 6y,92193.844929,1.033110,0.989941,16.545683,40.418783,0.000000,0.520448,0.145932,263.083822,2.559514,980.689438,0.128667,0.244635,36.760509,-95.722083,2016.950295
basic 9y,93563.364400,1.002853,0.998098,16.537328,39.101327,0.000000,0.532423,0.149033,260.404977,2.536852,979.181170,0.141702,0.149834,36.841785,-96.063955,2016.960993
high school,94141.961411,1.007053,0.989521,16.496222,37.909434,0.000121,0.528666,0.155702,260.479295,2.562217,964.589723,0.187909,0.029602,36.884489,-96.114177,2017.017828
illiterate,80480.388889,0.888889,0.888889,16.222222,48.785714,0.000000,0.555556,0.166667,276.777778,2.277778,943.833333,0.111111,-0.133333,35.827667,-106.574167,2016.833333
professional course,93669.489867,1.019536,1.005477,16.653825,39.994828,0.000433,0.554039,0.158003,252.658755,2.594303,960.771043,0.164506,0.167866,36.794159,-95.933331,2017.010846
university degree,92738.460148,0.998349,1.002673,16.610753,38.844152,0.000000,0.546566,0.162619,252.436567,2.559896,950.978620,0.194152,-0.034342,36.847812,-95.813060,2017.005695

In [ ]:
df.groupby(['education', 'marital']).mean(numeric_only=True) # podemos agrupar por m√°s de una columna

In [ ]:
df.groupby(['education', 'marital'])['age'].mean(numeric_only=True)

In [17]:
df.groupby(['education', 'marital'])['id'].count().reset_index() # reset_index() para que no se pierda la estructura de DataFrame

              education   marital    id
0              basic 4y  divorced   516
1              basic 4y   married  3366
2              basic 4y    single   468
3              basic 6y  divorced   190
4              basic 6y   married  1843
5              basic 6y    single   346
6              basic 9y  divorced   592
7              basic 9y   married  4331
8              basic 9y    single  1377
9           high school  divorced  1240
10          high school   married  5372
11          high school    single  3298
12           illiterate  divorced     2
13           illiterate   married    15
14           illiterate    single     1
15  professional course  divorced   689
16  professional course   married  3295
17  professional course    single  1486
18    university degree  divorced  1391
19    university degree   married  6669
20    university degree    single  4630

In [19]:
# Funciones agregaci√≥n: sum, mean, median, min, max, count

# Funcion agg
df.groupby('education')['age'].agg(['mean', 'median', 'min', 'max', 'count'])

                          mean  median   min   max  count
education
basic 4y             47.604900    47.0  18.0  98.0   3837
basic 6y             40.418783    39.0  18.0  95.0   2087
basic 9y             39.101327    38.0  17.0  94.0   5576
high school          37.909434    36.0  18.0  88.0   8734
illiterate           48.785714    45.0  34.0  80.0     14
professional course  39.994828    38.0  20.0  86.0   4834
university degree    38.844152    36.0  20.0  91.0  11261

In [ ]:
df.describe()

In [8]:
# Apply
# -----------------------------------------------------------------------
# Apply se utiliza para aplicar una funci√≥n a cada columna o fila de un DataFrame
# 
# 1. A√±adir una nueva columna para categorizar la edad de las personas. (menos de 30= Joven, entre 30 y 50 = "Adulta", m√°s de 50 = "Mayor") dentro de una funci√≥n
#  2. Aplicar la funci√≥n a la columna 'age' del DataFrame

def agrupar_edad (num):
    if num < 30:
        respuesta =  "Joven"
    elif num >= 30 and num <= 50:
        respuesta= "Adulta"
    elif num < 90:
        respuesta=  "Mayor"
    else:
        respuesta= "No Info"
    return respuesta

df['age_group']= df['age'].apply(agrupar_edad)
df.head()

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year,age_group
0,161770.0,1.0,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0,No Info
1,85477.0,1.0,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,0.0,telephone,149,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0,Mayor
2,147233.0,1.0,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,0.0,telephone,226,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0,Adulta
3,121393.0,1.0,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,0.0,telephone,151,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0,Adulta
4,63164.0,1.0,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,1.0,telephone,307,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0,Mayor

In [10]:
# Insertar en una posici√≥n espec√≠fica
df.insert(2, 'age_group2', df['age'].apply(agrupar_edad))

In [11]:
df.head()

,income,kidhome,age_group2,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year,age_group
0,161770.0,1.0,No Info,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0,No Info
1,85477.0,1.0,Mayor,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,0.0,telephone,149,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0,Mayor
2,147233.0,1.0,Adulta,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,0.0,telephone,226,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0,Adulta
3,121393.0,1.0,Adulta,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,0.0,telephone,151,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0,Adulta
4,63164.0,1.0,Mayor,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,1.0,telephone,307,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0,Mayor

In [29]:
# Map: aplicar una funci√≥n a cada valor de una columna

df['loan'] = df['loan'].map({0.0: "No", 1.0: "Si"})
df.head()

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year
0,161770.0,1.0,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,No,telephone,261,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0
1,85477.0,1.0,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,No,telephone,149,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0
2,147233.0,1.0,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,No,telephone,226,1,999,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0
3,121393.0,1.0,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,No,telephone,151,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0
4,63164.0,1.0,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,Si,telephone,307,1,999,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0

In [30]:
## Replace: reemplazar valores en una columna
df['pdays'] = df['pdays'].replace(999, np.nan)

In [31]:
df.head()

,income,kidhome,teenhome,dt_customer,numwebvisitsmonth,id,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,empvarrate,conspriceidx,consconfidx,euribor3m,nremployed,y,date,latitude,longitude,contact_month,contact_year
0,161770.0,1.0,0.0,2012-04-04,29.0,089b39d8-e4d0-461b-87d4-814d71e0e079,NaN,housemaid,married,basic 4y,0.0,0.0,No,telephone,261,1,NaN,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,agosto,2019.0
1,85477.0,1.0,1.0,2012-12-30,7.0,e9d37224-cb6f-4942-98d7-46672963d097,57.0,services,married,high school,NaN,0.0,No,telephone,149,1,NaN,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,septiembre,2016.0
2,147233.0,1.0,1.0,2012-02-02,5.0,3f9f49b5-e410-4948-bf6e-f9244f04918b,37.0,services,married,high school,0.0,1.0,No,telephone,226,1,NaN,0,nonexistent,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,febrero,2019.0
3,121393.0,1.0,2.0,2012-12-21,29.0,9991fafb-4447-451a-8be2-b0df6098d13e,40.0,admin.,married,basic 6y,0.0,0.0,No,telephone,151,1,NaN,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,noviembre,2015.0
4,63164.0,1.0,2.0,2012-06-20,20.0,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,56.0,services,married,high school,0.0,0.0,Si,telephone,307,1,NaN,0,nonexistent,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,enero,2017.0

In [ ]:
# Resumen

# Group by: agrupar datos en funci√≥n de una columna
`df.groupby(columaname)`

## Apply: aplica una funci√≥n a cada columna o fila de un DataFrame
`df['columnname'].apply(function)`

## Map: aplica una funci√≥n a cada valor de una columna
`df['columnname'].map({old_value: new_value})`

## Replace: reemplaza valores en una columna
`df['columnname'].replace(old_value, new_value)`