## SQL en conjunción con Python para extracción de datos

### Conexion
connect()

1. Ejecuta `pip install mysql-connector`.

2. Luego, ejecuta `pip install mysql-connector-python`.

In [10]:
import mysql.connector

cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "tienda")

print(cnx.is_connected())

True

#### Metodo Cursor para poder escribir SQL en Python

In [ ]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "tienda")

mycursor = cnx.cursor()

query = ("SELECT * FROM customers")

mycursor.execute(query)


mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

#### Crear un base de datos

In [14]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1")

mycursor = cnx.cursor()

query = ("CREATE SCHEMA python_test")

mycursor.execute(query)

print(mycursor)

MySQLCursor: CREATE SCHEMA python_test

In [15]:
#### Crear una tabla

cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

mycursor = cnx.cursor()

query = ("CREATE TABLE customers (name VARCHAR(10), address VARCHAR(300))")

mycursor.execute(query)

print(mycursor)

MySQLCursor: CREATE TABLE customers (name VARCHAR(10)..

#### Insertar una fila en la tabla

In [16]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

mycursor = cnx.cursor()

sql = "INSERT INTO customers (name,address) VALUES(%s,%s)"
val = ("Ana","Calle1")

mycursor.execute(sql,val)

print(mycursor)

MySQLCursor: INSERT INTO customers (name,address) VAL..

#### Insertar mas fials en la table

In [19]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

mycursor = cnx.cursor()

sql = "INSERT INTO customers (name,address) VALUES(%s,%s)"

val = [("Maria","Calle1"),("Elena","Calle3"),("Ana","Calle4")]

mycursor.executemany(sql,val)
cnx.commit()
print(mycursor)

MySQLCursor: INSERT INTO customers (name,address) VAL..

####  Acceder los datos con metodos fetchone y fetchall

In [20]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

mycursor = cnx.cursor()

query = "SELECT * FROM customers"


mycursor.execute(query)

myresults = mycursor.fetchall()

print(myresults)

[('Maria', 'Calle1'), ('Elena', 'Calle3'), ('Ana', 'Calle4')]

### Integracion de resultados con Pandas

#### DateFrame

In [22]:
import pandas as pd

In [25]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

mycursor = cnx.cursor()

query = "SELECT * FROM customers"


mycursor.execute(query)

myresults = mycursor.fetchall()

df = pd.DataFrame(myresults, columns = ["nombre","direccion"])
print(df)

  nombre direccion
0  Maria    Calle1
1  Elena    Calle3
2    Ana    Calle4

#### Metodo read_sql_query

In [27]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

query = "SELECT * FROM customers"

df1 = pd.read_sql_query(query,cnx)

print(df1)

    name address
0  Maria  Calle1
1  Elena  Calle3
2    Ana  Calle4

/var/folders/lf/ds7twms57fz01cjvl5qb9m9w0000gn/T/ipykernel_9067/2535430019.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(query,cnx)

#### Guardar datos

In [34]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "python_test")

query = "SELECT * FROM customers"

df2 = pd.read_sql_query(query,cnx)


df2.isnull()

/var/folders/lf/ds7twms57fz01cjvl5qb9m9w0000gn/T/ipykernel_9067/1407544238.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(query,cnx)

    name  address
0  False    False
1  False    False
2  False    False

#### Otros metodos de panda

- Métodos para exploración básica del *DataFrame*: 

    - `.head()`
    - `.tail()`
    - `.sample()`
    - `.describe()`
    - `.duplicated()`
    - `.isnull()`
    - `.isna()`
    - `.info()`
    - `.columns`